# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Import Data

In [2]:
loan_data_inputs_train = pd.read_csv('loan_data_inputs_train.csv', index_col = 0)
loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col = 0, header = None)
loan_data_inputs_test = pd.read_csv('loan_data_inputs_test.csv', index_col = 0)
loan_data_targets_test = pd.read_csv('loan_data_targets_test.csv', index_col = 0, header = None)

C:\Users\DiniDev\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
inputs_train_with_ref_cat = pd.read_csv('inputs_train_with_ref_cat.csv', index_col = 0)
# We import the dataset with old data, i.e. "expected" data.

In [4]:
inputs_train_with_ref_cat.shape

(684775, 100)

In [5]:
df_scorecard = pd.read_csv('df_scorecard.csv', index_col = 0)
# We import the scorecard.

In [6]:
df_scorecard

,index,Feature name,Coefficients,p_values,Original feature name,Score - Calculation,Score - Preliminary,Difference,Score - Final
0,0,Intercept,-0.554353,NaN,Intercept,329.306057,329.0,-0.306057,329.0
1,1,grade:A,1.000794,3.144838e-27,grade,65.635098,66.0,0.364902,66.0
2,2,grade:B,0.874695,9.329928e-43,grade,57.365153,57.0,-0.365153,57.0
3,3,grade:C,0.703951,9.411424e-33,grade,46.167272,46.0,-0.167272,46.0
4,4,grade:D,0.522027,1.309833e-20,grade,34.236121,34.0,-0.236121,34.0
...,...,...,...,...,...,...,...,...,...
96,12,acc_now_delinq:0,0.000000,NaN,acc_now_delinq,0.000000,0.0,0.000000,0.0
97,13,annual_inc:<20K,0.000000,NaN,annual_inc,0.000000,0.0,0.000000,0.0
98,14,dti:>35,0.000000,NaN,dti,0.000000,0.0,0.000000,0.0
99,15,mths_since_last_delinq:0-3,0.000000,NaN,mths_since_last_delinq,0.000000,0.0,0.000000,0.0
100,16,mths_since_last_record:0-2,0.000000,NaN,mths_since_last_record,0.000000,0.0,0.000000,0.0

In [7]:
inputs_train_with_ref_cat_w_intercept = inputs_train_with_ref_cat
inputs_train_with_ref_cat_w_intercept.insert(0, 'Intercept', 1)
# We insert a column in the dataframe, with an index of 0, that is, in the beginning of the dataframe.
# The name of that column is 'Intercept', and its values are 1s.
inputs_train_with_ref_cat_w_intercept = inputs_train_with_ref_cat_w_intercept[df_scorecard['Feature name'].values]
# Here, from the 'inputs_train_with_ref_cat_w_intercept' dataframe, we keep only the columns with column names,
# exactly equal to the row values of the 'Feature name' column from the 'df_scorecard' dataframe.
inputs_train_with_ref_cat_w_intercept.head()

,Intercept,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,...,emp_length:0,mths_since_issue_d:>84,int_rate:>20.281,mths_since_earliest_cr_line:<140,inq_last_6mths:>6,acc_now_delinq:0,annual_inc:<20K,dti:>35,mths_since_last_delinq:0-3,mths_since_last_record:0-2
515539,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
244649,1,0,0,0,0,0,1,0,1,0,...,0,0,1,0,0,1,0,0,0,0
707530,1,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
98128,1,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
836748,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [9]:
scorecard_scores = df_scorecard['Score - Final']
scorecard_scores = scorecard_scores.values.reshape(101, 1)

In [10]:
y_scores_train = inputs_train_with_ref_cat_w_intercept.dot(scorecard_scores)
# Here we multiply the values of each row of the dataframe by the values of each column of the variable,
# which is an argument of the 'dot' method, and sum them. It's essentially the sum of the products.
y_scores_train.head()

            0
515539  699.0
244649  636.0
707530  685.0
98128   530.0
836748  748.0

In [11]:
inputs_train_with_ref_cat_w_intercept = pd.concat([inputs_train_with_ref_cat_w_intercept, y_scores_train], axis = 1)

In [12]:
inputs_train_with_ref_cat_w_intercept.columns.values[inputs_train_with_ref_cat_w_intercept.shape[1] - 1] = 'Score'

In [13]:
inputs_train_with_ref_cat_w_intercept['Score:300-350'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 300) & (inputs_train_with_ref_cat_w_intercept['Score'] < 350), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:350-400'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 350) & (inputs_train_with_ref_cat_w_intercept['Score'] < 400), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:400-450'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 400) & (inputs_train_with_ref_cat_w_intercept['Score'] < 450), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:450-500'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 450) & (inputs_train_with_ref_cat_w_intercept['Score'] < 500), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:500-550'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 500) & (inputs_train_with_ref_cat_w_intercept['Score'] < 550), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:550-600'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 550) & (inputs_train_with_ref_cat_w_intercept['Score'] < 600), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:600-650'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 600) & (inputs_train_with_ref_cat_w_intercept['Score'] < 650), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:650-700'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 650) & (inputs_train_with_ref_cat_w_intercept['Score'] < 700), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:700-750'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 700) & (inputs_train_with_ref_cat_w_intercept['Score'] < 750), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:750-800'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 750) & (inputs_train_with_ref_cat_w_intercept['Score'] < 800), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:800-850'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 800) & (inputs_train_with_ref_cat_w_intercept['Score'] <= 850), 1, 0)
# We create dummy variables for score intervals in the dataframe with old ("expected").

# Population Stability Index: Calculation and Interpretation

In [14]:
PSI_calc_train = inputs_train_with_ref_cat_w_intercept.sum() / inputs_train_with_ref_cat_w_intercept.shape[0]
# We create a dataframe with proportions of observations for each dummy variable for the old ("expected") data.

In [15]:
#PSI_calc = pd.concat([PSI_calc_train, PSI_calc_2015], axis = 1)
# We concatenate the two dataframes along the columns.

In [20]:
PSI_calc = PSI_calc_train
PSI_calc = PSI_calc.reset_index()
# We reset the index of the dataframe. The index becomes from 0 to the total number of rows less one.
# The old index, which is the dummy variable name, becomes a column, named 'index'.
PSI_calc['Original feature name'] = PSI_calc['index'].str.split(':').str[0]
# We create a new column, called 'Original feature name', which contains the value of the 'Feature name' column,
# up to the column symbol.
PSI_calc.columns = ['index', 'Proportions_Train',  'Original feature name']
# We change the names of the columns of the dataframe.

In [21]:
PSI_calc = PSI_calc[np.array(['index', 'Original feature name', 'Proportions_Train'])]

In [22]:
PSI_calc

             index Original feature name  Proportions_Train
0        Intercept             Intercept           1.000000
1          grade:A                 grade           0.170186
2          grade:B                 grade           0.289673
3          grade:C                 grade           0.276815
4          grade:D                 grade           0.155453
..             ...                   ...                ...
108  Score:600-650                 Score           0.161332
109  Score:650-700                 Score           0.180158
110  Score:700-750                 Score           0.134779
111  Score:750-800                 Score           0.065207
112  Score:800-850                 Score           0.000965

[113 rows x 3 columns]

In [23]:
PSI_calc = PSI_calc[(PSI_calc['index'] != 'Intercept') & (PSI_calc['index'] != 'Score')]
# We remove the rows with values in the 'index' column 'Intercept' and 'Score'.

In [25]:
PSI_calc['Contribution'] = np.where((PSI_calc['Proportions_Train'] == 0), 0, ( PSI_calc['Proportions_Train']) * np.log(PSI_calc['Proportions_Train']))
# We calculate the contribution of each dummy variable to the PSI of each original variable it comes from.
# If either the proportion of old data or the proportion of new data are 0, the contribution is 0.
# Otherwise, we apply the PSI formula for each contribution.

C:\Users\DiniDev\Anaconda3\lib\site-packages\pandas\core\series.py:853: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\DiniDev\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
PSI_calc

             index Original feature name  Proportions_Train  Contribution
1          grade:A                 grade           0.170186     -0.301376
2          grade:B                 grade           0.289673     -0.358906
3          grade:C                 grade           0.276815     -0.355543
4          grade:D                 grade           0.155453     -0.289362
5          grade:E                 grade           0.077370     -0.198002
..             ...                   ...                ...           ...
108  Score:600-650                 Score           0.161332     -0.294316
109  Score:650-700                 Score           0.180158     -0.308777
110  Score:700-750                 Score           0.134779     -0.270113
111  Score:750-800                 Score           0.065207     -0.178027
112  Score:800-850                 Score           0.000965     -0.006702

[111 rows x 4 columns]

In [27]:
PSI_calc.groupby('Original feature name')['Contribution'].sum()
# Finally, we sum all contributions for each original independent variable and the 'Score' variable.

Original feature name
Score                         -2.007385
acc_now_delinq                -0.029236
addr_state                    -2.497153
annual_inc                    -2.370684
dti                           -1.876060
emp_length                    -1.661586
grade                         -1.624362
home_ownership                -0.940618
initial_list_status           -0.692578
inq_last_6mths                -0.856644
int_rate                      -1.500334
mths_since_earliest_cr_line   -1.580133
mths_since_issue_d            -1.580205
mths_since_last_delinq        -1.250030
mths_since_last_record        -0.464957
purpose                       -1.131468
term                          -0.609810
verification_status           -1.094848
Name: Contribution, dtype: float64